include ../../../components/header/header.pug

main.login-main
  .login-container
    h1 Login
    form(action="/login", method="POST")
      .input-block
        input(type="email", name="email", required)
        span.placeholder Email
      .input-block
        input(type="Password", name="Password", required)
        span.placeholder Senha
      a.forgot-password(href="/google.com") Esqueceu sua senha?
      btn.primary-button Entrar
